<header
  class="header flex-component text-white"
  style="position: sticky; z-index: 700000000000"
>
  <!-- Brand -->
  <a
    class="flex-component left-side flex-component animated-label"
    [routerLink]="[listMenu[0].link]"
  >
    <span class="label">Next</span>
    <span class="label">GAME</span>
  </a>

  <!-- Menu -->
  <div class="flex-component middle-side">
    <a
      *ngFor="let chose of listMenu; let i = index"
      class="label"
      [routerLink]="[chose.link]"
      [ngClass]="{ active: i === headerService.currentPage }"
      (click)="headerService.selectPage(i)"
    >
      {{ fixedPathTranslate + "ITEMS." + chose.name | translate }}
    </a>
  </div>

  <div class="flex-component right-side flex items-center">
    <!-- Translate -->
    <button
      class="flex-component relative"
      (click)="traductionVisibility = !traductionVisibility"
    >
      <img
        class="pay-trad hover:scale-110"
        [src]="'assets/imgs/main_page/header/' + langagueIcones[0] + '.png'"
        alt="traduction"
      />

      <div
        *ngIf="traductionVisibility"
        class="absolute top-[100%] flex flex-col gap-1 mt-1 z-7000000000000"
      >
        <button
          *ngFor="let icon of langagueIcones; let i = index"
          (click)="changeLanguage(i)"
        >
          <img
            *ngIf="i !== 0"
            class="pay-trad"
            [src]="'assets/imgs/main_page/header/' + icon + '.png'"
            alt=""
          />
        </button>
      </div>
    </button>

    <!-- Auth buttons -->
    <a
      class="label"
      [routerLink]="[listButton[0]]"
      (click)="headerService.selectPage(6)"
      [ngClass]="{ active: headerService.currentPage === 6 }"
    >
      {{ fixedPathTranslate + "BUTTONS.BUTTON_1" | translate }}
    </a>

    <a
      [routerLink]="[listButton[1]]"
      (click)="headerService.selectPage(7)"
      (click)="headerService.switchToAccountCreation()"
    >
      {{ fixedPathTranslate + "BUTTONS.BUTTON_2" | translate }}
    </a>

    <!-- Responsive Menu -->
    <div class="menu">
      <button
        (click)="
          headerService.isMenuOpen = !headerService.isMenuOpen;
          headerService.OpenChatIa = false
        "
      >
        <img
          class="pay-trad"
          [src]="
            '../../../assets/imgs/main_page/header/' +
            (headerService.isMenuOpen ? 'croix' : 'menu') +
            '.png'
          "
          alt=""
        />
      </button>

      <div
        *ngIf="headerService.isMenuOpen"
        class="rounded-lg shadow-md absolute top-12 right-0 w-48 under-menu z-7000000000000 bg-black/50 border-2 border-gray-700"
      >
        <div *ngFor="let chose of listMenu; let i = index">
          <a
            [routerLink]="[chose.link]"
            (click)="headerService.selectPage(i); headerService.isMenuOpen = false"
          >
            {{ fixedPathTranslate + "ITEMS." + chose.name | translate }}
          </a>
        </div>

        <!-- Auth in responsive -->
        <div>
          <a
            [routerLink]="[listButton[0]]"
            (click)="headerService.isMenuOpen = false"
          >
            {{ fixedPathTranslate + "BUTTONS.BUTTON_1" | translate }}
          </a>
        </div>

        <div>
          <a
            [routerLink]="[listButton[1]]"
            (click)="headerService.isMenuOpen = false"
          >
            {{ fixedPathTranslate + "BUTTONS.BUTTON_2" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div style="height: 60px !important"></div>
