<div
  class="h-[calc(100vh-80px)] w-screen flex items-center justify-center relative"
>
  <!-- button left -->
  <button
    class="absolute top-1/2 left-10 -translate-y-1/2 z-10 bg-black/50 rounded-full p-2 cursor-pointer hover:text-white max-md:hidden"
    (click)="previousImage()"
  >
    <svg width="30" height="30" fill="none" viewBox="0 0 24 24">
      <path
        d="M15 19l-7-7 7-7"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>

  <!-- ====================> title -->
  <img
    [src]="image"
    class="w-full h-full object-cover absolute left-0 top-0 z-0"
    alt=""
  />

  <!-- content -->
  <div
    class="z-40 flex flex-col justify-center items-center bg-black/45 p-10 rounded-4xl enhanced-fade-in max-md:min-w-[90%] max-md:py-20"
    style="animation-delay: 0.1s; animation-fill-mode: both"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-80 w-80 min-w-40 min-h-40 text-white max-xl:h-10 max-xl:w-10 enhanced-fade-in"
      style="animation-delay: 0.3s; animation-fill-mode: both"
      viewBox="0 0 256 256"
    >
      <path
        fill="currentColor"
        d="M176 112h-24a8 8 0 0 1 0-16h24a8 8 0 0 1 0 16Zm-72-16h-8v-8a8 8 0 0 0-16 0v8h-8a8 8 0 0 0 0 16h8v8a8 8 0 0 0 16 0v-8h8a8 8 0 0 0 0-16Zm137.48 104.65a36 36 0 0 1-54.94 4.81c-.12-.12-.24-.24-.35-.37L146.48 160h-37l-39.67 45.09l-.35.37A36.08 36.08 0 0 1 44 216a36 36 0 0 1-35.44-42.25a.68.68 0 0 1 0-.14l16.37-84.09A59.88 59.88 0 0 1 83.89 40H172a60.08 60.08 0 0 1 59 49.25v.18l16.37 84.17a.68.68 0 0 1 0 .14a35.74 35.74 0 0 1-5.89 26.91ZM172 144a44 44 0 0 0 0-88H83.89a43.9 43.9 0 0 0-43.21 36.37v.13L24.3 176.59A20 20 0 0 0 58 194.3l41.92-47.59a8 8 0 0 1 6-2.71Zm59.7 32.59l-8.74-45A60 60 0 0 1 172 160h-4.2l30.2 34.31a20.09 20.09 0 0 0 17.46 5.39a20 20 0 0 0 16.23-23.11Z"
      />
    </svg>
    <div
      class="text-3xl font-semibold enhanced-fade-in max-xl:text-2xl"
      style="animation-delay: 0.5s; animation-fill-mode: both"
    >
      <span
        class="text-6xl font-semibold enhanced-fade-in max-xl:text-5xl"
        style="
          background: linear-gradient(to top, #f0f0f0 0%, #f5f5f5 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          animation-delay: 0.7s;
          animation-fill-mode: both;
        "
        >Next</span
      >
      <span
        class="text-6xl font-semibold enhanced-fade-in max-xl:text-5xl"
        style="
          background: linear-gradient(to top, #f0f0f0 0%, #eeeeee 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          animation-delay: 0.9s;
          animation-fill-mode: both;
        "
        >Game</span
      >
    </div>
  </div>

  <!-- petite inforamtion -->
  <div class="absolute bottom-5 right-5 z-20 max-md:hidden">
    <div
      class="bg-black/60 px-5 py-1 rounded-full text-xl text-white flex items-center gap-2 max-md:text-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 min-w-10 min-h-10 text-white max-xl:h-10 max-xl:w-10 enhanced-fade-in"
        style="animation-delay: 0.3s; animation-fill-mode: both"
        viewBox="0 0 256 256"
      >
        <path
          fill="currentColor"
          d="M176 112h-24a8 8 0 0 1 0-16h24a8 8 0 0 1 0 16Zm-72-16h-8v-8a8 8 0 0 0-16 0v8h-8a8 8 0 0 0 0 16h8v8a8 8 0 0 0 16 0v-8h8a8 8 0 0 0 0-16Zm137.48 104.65a36 36 0 0 1-54.94 4.81c-.12-.12-.24-.24-.35-.37L146.48 160h-37l-39.67 45.09l-.35.37A36.08 36.08 0 0 1 44 216a36 36 0 0 1-35.44-42.25a.68.68 0 0 1 0-.14l16.37-84.09A59.88 59.88 0 0 1 83.89 40H172a60.08 60.08 0 0 1 59 49.25v.18l16.37 84.17a.68.68 0 0 1 0 .14a35.74 35.74 0 0 1-5.89 26.91ZM172 144a44 44 0 0 0 0-88H83.89a43.9 43.9 0 0 0-43.21 36.37v.13L24.3 176.59A20 20 0 0 0 58 194.3l41.92-47.59a8 8 0 0 1 6-2.71Zm59.7 32.59l-8.74-45A60 60 0 0 1 172 160h-4.2l30.2 34.31a20.09 20.09 0 0 0 17.46 5.39a20 20 0 0 0 16.23-23.11Z"
        />
      </svg>
      <span class="font-semibold">
        {{ fixedPathTranslate + "SUBTITLE" | translate }}
      </span>
    </div>
  </div>

  <!-- button right -->
  <button
    class="absolute top-1/2 right-10 -translate-y-1/2 z-10 bg-black/50 rounded-full p-2 cursor-pointer hover:text-white max-md:hidden"
    (click)="nextImage()"
  >
    <svg width="30" height="30" fill="none" viewBox="0 0 24 24">
      <path
        d="M9 5l7 7-7 7"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>
