<div
  class="auth-bg-auth p-3 flex items-center justify-center flex-col gap-2 min-w-full min-h-full min-w-screen"
>
  <!-- Title -->
  <div
    class="flex justify-center items-center gap-1 py-1 animate-fade-down flex-wrap bg-black/70 px-8 rounded-full shadow-lg min-w-max"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-14 w-14 text-white"
      viewBox="0 0 256 256"
    >
      <path
        fill="currentColor"
        d="M176 112h-24a8 8 0 0 1 0-16h24a8 8 0 0 1 0 16Zm-72-16h-8v-8a8 8 0 0 0-16 0v8h-8a8 8 0 0 0 0 16h8v8a8 8 0 0 0 16 0v-8h8a8 8 0 0 0 0-16Zm137.48 104.65a36 36 0 0 1-54.94 4.81c-.12-.12-.24-.24-.35-.37L146.48 160h-37l-39.67 45.09l-.35.37A36.08 36.08 0 0 1 44 216a36 36 0 0 1-35.44-42.25a.68.68 0 0 1 0-.14l16.37-84.09A59.88 59.88 0 0 1 83.89 40H172a60.08 60.08 0 0 1 59 49.25v.18l16.37 84.17a.68.68 0 0 1 0 .14a35.74 35.74 0 0 1-5.89 26.91ZM172 144a44 44 0 0 0 0-88H83.89a43.9 43.9 0 0 0-43.21 36.37v.13L24.3 176.59A20 20 0 0 0 58 194.3l41.92-47.59a8 8 0 0 1 6-2.71Zm59.7 32.59l-8.74-45A60 60 0 0 1 172 160h-4.2l30.2 34.31a20.09 20.09 0 0 0 17.46 5.39a20 20 0 0 0 16.23-23.11Z"
      />
    </svg>
    <div
      class="text-3xl font-semibold animate-fade-in"
      style="animation-delay: 0.25s; animation-fill-mode: both"
    >
      <span
        class="text-3xl font-semibold animate-fade-in"
        style="
          background: linear-gradient(to top, #d2d2d2 0%, #d8d8d8 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          animation-delay: 0.4s;
          animation-fill-mode: both;
        "
        >Next</span
      >
      <span
        class="text-3xl font-semibold animate-fade-in"
        style="
          background: linear-gradient(to top, #d3d3d3 0%, #e3e3e3 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          animation-delay: 0.6s;
          animation-fill-mode: both;
        "
        >Game</span
      >
    </div>
  </div>

  <!-- Carte du formulaire -->
  <div
    class="bg-black/70 container-form w-full max-w-4xl mx-auto shadow-xl inset-shadow-sm rounded-3xl py-5 px-4 max-sm:px-3 flex flex-col items-center relative form-annimation"
  >
    <!-- Titre -->
    <h2
      class="text-4xl font-semibold text-white mb-6 text-center max-sm:text-2xl"
      style="
        background: linear-gradient(to top, #e5e5e5 0%, #f6f6f6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        animation-delay: 0.6s;
        animation-fill-mode: both;
      "
    >
      {{ fixedPathTranslate + "TITLE" | translate }}
    </h2>

    <!-- Formulaire -->
    <form class="w-full flex flex-col gap-5 mt-3">
      <!-- Part-1 [FISTNAME, LASTNAME] -->
      <div class="flex gap-4 max-lg:flex-col">
        <div class="flex-1">
          <div class="ml-4 text-lg font-medium text-white">
            {{ fixedPathTranslate + "CHAMP_1" | translate }}
          </div>
          <div
            class="flex justify-between items-center gap-2 w-full py-3 px-4 rounded-full shadow-md border-2 border-gray-100"
          >
            <input
              type="text"
              name="email"
              class="w-full focus:outline-none transition text-white"
              placeholder="{{ fixedPathTranslate + 'CHAMP_1' | translate }}"
              (click)="errorMessage = ''"
              [(ngModel)]="info.last_name"
              required
            />
          </div>
        </div>

        <div class="flex-1">
          <div class="ml-4 text-lg font-medium text-white">
            {{ fixedPathTranslate + "CHAMP_2" | translate }}
          </div>
          <div
            class="flex justify-between items-center gap-2 w-full py-3 px-4 rounded-full shadow-md border-2 border-gray-100"
          >
            <input
              type="email"
              name="email"
              class="w-full focus:outline-none transition text-white"
              placeholder="{{ fixedPathTranslate + 'CHAMP_2' | translate }}"
              (click)="errorMessage = ''"
              [(ngModel)]="info.first_name"
              required
            />
          </div>
        </div>
      </div>

      <!-- Part-2 [Mail, CONFIRMATION-MAIL] -->
      <div class="flex gap-4 max-lg:flex-col">
        <div class="flex-1">
          <div class="ml-4 text-lg font-medium text-white">
            {{ fixedPathTranslate + "CHAMP_3" | translate }}
          </div>
          <div
            class="flex justify-between items-center gap-2 w-full py-3 px-4 rounded-full shadow-md border-2 border-gray-100"
          >
            <input
              type="email"
              name="email"
              class="w-full focus:outline-none transition text-white"
              placeholder="{{ fixedPathTranslate + 'CHAMP_3' | translate }}"
              (click)="errorMessage = ''"
              required
              [(ngModel)]="info.object"
            />
          </div>
        </div>

        <div class="flex-1">
          <div class="ml-4 text-lg font-medium text-white">
            {{ fixedPathTranslate + "CHAMP_4" | translate }}
            <span class="text-black font-extrabold">
              {{ fixedPathTranslate + "CHAMP_7" | translate }}
            </span>
          </div>
          <div
            class="flex justify-between items-center gap-2 w-full py-3 px-4 rounded-full shadow-md border-2 border-gray-100"
          >
            <input
              type="email"
              name="email"
              class="w-full focus:outline-none transition text-white"
              placeholder="{{ fixedPathTranslate + 'CHAMP_4' | translate }}"
              (click)="errorMessage = ''"
              [(ngModel)]="info.email"
              required
            />
          </div>
        </div>
      </div>

      <!-- number -->
      <div class="flex-1">
        <div class="ml-4 text-lg font-medium text-white">
          {{ fixedPathTranslate + "CHAMP_5" | translate }}
        </div>
        <div class="flex gap-2">
          <div
            class="flex justify-between items-center gap-2 w-full py-3 px-4 rounded-full shadow-md border-2 border-gray-100"
          >
            <input
              type="text"
              name="number"
              class="w-full focus:outline-none transition text-white"
              placeholder="7 77 77 77 77"
              (click)="errorMessage = ''"
              [(ngModel)]="info.number"
              required
            />
          </div>
        </div>
      </div>

      <!-- Part-3 [MESSAGE] -->
      <div class="flex-1">
        <div class="ml-4 text-lg font-medium text-white">
          {{ fixedPathTranslate + "CHAMP_6" | translate }}
        </div>
        <div
          class="flex justify-between items-center gap-2 w-full py-3 px-4 rounded-2xl shadow-md border-2 border-gray-100"
        >
          <textarea
            name="message"
            rows="4"
            class="w-full focus:outline-none transition text-white"
            placeholder="{{ fixedPathTranslate + 'CHAMP_6' | translate }}"
            (click)="errorMessage = ''"
            [(ngModel)]="info.message"
            required
          ></textarea>
        </div>
      </div>

      <!--Loadin cercle -->
      <div class="flex items-center justify-center" *ngIf="isloading">
        <div
          class="w-9 h-9 border-3 border-blue-400 border-t-transparent rounded-full animate-spin"
        ></div>
      </div>

      <!-- Message d'erreur -->
      <div
        *ngIf="errorMessage"
        class="text-center text-lg font-medium text-red-700"
      >
        {{ errorMessage | translate }}
      </div>

      <!-- Bouton d'envoi -->
      <div class="text-center self-end">
        <button
          (click)="send()"
          type="submit"
          class="min-w-3/4 max-lg:w-full bg-gradient-to-r text-white text-xl max-md:text-lg font-semibold px-10 py-2 rounded-full shadow-xl transform hover:-translate-y-0 hover:scale-105 transition-all duration-300 focus:outline-none focus:ring-4 focus:ring-indigo-300 hover:cursor-pointer"
          style="
            background: linear-gradient(
                to left,
                #1b1b1b 0%,
                #1f1f1f 40%,
                #181818 150%
              ),
              linear-gradient(
                to top,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(0, 0, 0, 0.25) 200%
              );
            background-blend-mode: multiply;
          "
        >
          {{ fixedPathTranslate + "BUTTON" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
